#w {
    background: linear-gradient(red, orange, yellow, blue, green);
}

body {
    text-align: center;
    background-color: red;
}

#img {
    border-radius: 20%;
    width: 200px;
}

h1 {
    font-size: 40px
}

.line {
    width: 40px;
    color: black;
    height: 10px;
    background-color: black;
    margin: 10px auto;

}

p {
    font-size: 20px
}

#h {
    background-color: coral;
}

.m {
    list-style: none;
    z-index: 10px;
    position: absolute;
    cursor: pointer;
    top: 0px;
    margin-top: 0px;
    background-color: deeppink;
    width: 100%;
}

.links:hover {
    font-size: 30px;
    text-decoration: underline;
}

.links {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    display: inline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.ar:hover {
    outline-color: darkorchid
}

#app {
    width: 100%;
    height: 850px;
    background-color: dodgerblue;

}

#g {
    width: 100%;
    height: 850px;
    background-color: darkolivegreen;

}

#i:hover {
    transform: scale(0.9);
}

#i {
    transition: transform .2s;
}

#ch {
    width: 100%;
    height: 850px;
    background-color: deepskyblue;

}
.c{
    color: white;
}
.o{
    vertical-align: middle;
}
